:root {
  /* color */
  --main-white: #ffffff;
  --main-black: #000000;
  --main-gray: #d9d9d9;
  --text-grey: #545454;
  --light-grey: #e5e5e5;
  --copyright: #d1d5db;

  /* font */
  --regular-font-weight: 400;
  --semibold-font-weight: 600;

  /* responsiveness */
  --pre-mobile: 374.98px;
  --mobile: 375px;
  --pre-tablet: 767.98px;
  --tablet: 768px;
  --pre-desktop: 1439.98px;
  --desktop: 1440px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: var(--regular-font-weight);
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-black);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

button {
  color: inherit;
  margin: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

a {
  outline: none;
  text-decoration: none;
  color: inherit;
}

input {
  outline: none;
}

main {
  min-height: calc(100vh - 64px);
  width: 100%;
}

section {
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom: 1px solid #e5e5e5;
}

.container {
  margin-left: 189px;
  margin-right: 189px;
}

.authContainer {
 padding: 32px 80px 232px;
 display: flex;
 flex-direction: column;
 gap: 40px;
}

.hidden-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
